body
{
	background-color:  #BDE1FF;
}

#allcontent
{
	width: 800px;
	padding-top: 1px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color:  #99CCFF;
}

.intro, .book_list
{
	background-color: #EBF6FF;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.book_list
{
	/*width:50%;*/
}


.title
{
	font-family:          Georgia, "Times New Roman", Times, serif;
	color:                #444444;
	border-color:         gray;
	border-width:         3px;
	border-style:         dashed;

	height:               100px;

	background-size:      Auto 100px;
	background-image:     url(blank_book.png);
	background-repeat:    no-repeat;
	background-position:  top-left;
}

title
{
	font-family: sans-serif;
	text-align: center;
}

h1
{
	font-family: sans-serif;
	text-align: center;
}

table, tr, td
{
	/*border: 1px solid black;*/
}

table
{
	/* make the table centered */
	margin-left: auto;
	margin-right: auto;
	width:80%;
	background-color: #EBF6FF;
}

th
{
	font-weight: bold;
	background-color:  #99CCFF;
}

tr
{
	background-color:  #BDE1FF;
}

.bottom
{
	font-size: x-small;
	text-align: center;
}
